table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
body {
   background-color: chocolate;
    }


h1 {

    font-size: 89px;
    color: wheat;
    font-family: "fangsong";

}
h3 {
    font-size: 25px;
    color: wheat;
    font-family: "fangsong";
}
.roast {
    background-color: wheat;
}

